:root {
  --primary: rgb(184, 122, 0);
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #6a4f34;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scalex(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: white;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--bg);
  margin-right: 1.5rem;
}

/* shopping-cart */
.shopping-cart {
  position: absolute;
  right: -100%;
  top: 100%;
  height: 100vh;
  width: 35rem;
  background-color: white;
  color: #010101;
  transition: 0.5s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  display: flex;
  align-items: center;
  margin: 2rem 2rem;
}

.shopping-cart .cart-item .item-detail {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.shopping-cart .cart-item .item-detail .item-price {
  margin-top: 0.3rem;
  font-size: 1.1rem;
}

.shopping-cart .remove-item {
  margin-left: 10rem;
}

.shopping-cart img {
  width: 8rem;
  border-radius: 25%;
}

.shopping-cart .cart-item .item-detail h3 {
  font-size: 1.3rem;
}

.shopping-cart .remove-item:hover {
  color: red;
}

.shopping-cart .line {
  background-color: var(--bg);
  width: 95%;
  height: 1px;
  margin: auto;
  margin-top: -15px;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/hero-coffe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  margin-top: -22rem;
}

.hero .content h1 {
  text-align: center;
  font-size: 2.8rem;
  line-height: 1.3;
}

.hero .content span {
  color: var(--primary);
}

.hero .content p {
  text-align: center;
  font-size: 1.3rem;
  margin: 20px auto;
}

.hero .content .btca a {
  font-size: 1.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin: 10px auto;
  transition: 0.3s;
}

.hero .content .btca a:hover {
  background-color: white;
  color: var(--primary);
}

/* About Section */
.about h2 {
  padding-top: 6rem;
  text-align: center;
  font-size: 2rem;
}

.about h2 span {
  color: var(--primary);
}

.row {
  display: flex;
  padding: 3rem 5%;
  align-items: center;
}

.about .row .about-img {
  padding-right: 2rem;
  border: 2px solid white;
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
}

.row .content {
  padding-left: 2rem;
}

.row .content h3 {
  font-size: 2rem;
}

.row .content p {
  font-size: 1.1rem;
}

/* Menu section */
.menu h2 {
  padding-top: 6rem;
  text-align: center;
  font-size: 2rem;
}

.menu h2 span {
  color: var(--primary);
}

.menu p {
  max-width: 50rem;
  margin: auto;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

.menu .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu .row .menu-card {
  margin: 2rem 3rem;
}

.menu .row .menu-card img {
  max-width: 230px;
  border-radius: 50%;
}

.menu .row .menu-card h3 {
  font-size: 1.5rem;
  text-align: center;
}

.menu .row .menu-card p {
  margin-top: -1.5rem;
  font-size: 1rem;
}

/* produk section */
.produk h2 {
  padding-top: 6rem;
  text-align: center;
  font-size: 2rem;
}

.produk h2 span {
  color: var(--primary);
}

.produk p {
  max-width: 60rem;
  margin: auto;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

.produk .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.produk .row .produk-card .produk-icons {
  flex-direction: row;
  display: flex;
}

.produk .row .produk-card .produk-icons a {
  width: 4rem;
  height: 4rem;
  border: 1px solid gray;
  border-radius: 50%;
  color: white;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produk .row .produk-card .produk-icons a:hover {
  background-color: var(--primary);
  border: none;
}

.produk .row .produk-card {
  width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 3px solid gray;
  margin: 0.8rem 2%;
}

.produk .row .produk-card img {
  width: 15rem;
}

.produk .row .produk-card div {
  padding: 0.5rem 0;
}

.produk .row .produk-card .product-image .star {
  fill: #ffd700;
  color: #ffd700;
}

.produk .row .produk-card .product-image .star1 {
  fill: #ffd700;
  color: #ffd700;
}

.produk .row .product-price span {
  color: var(--primary);
  text-decoration: line-through;
  font-size: 1rem;
}

.produk .row .product-price {
  font-size: 1.3rem;
}

/* Contact section */
.contact h2 {
  padding-top: 6rem;
  text-align: center;
  font-size: 2rem;
}

.contact h2 span {
  color: var(--primary);
}

.contact p {
  max-width: 50rem;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.contact .row {
  display: flex;
  background-color: #222;
  max-width: 90rem;
  margin: auto;
}

.contact .row .map {
  flex: 1 1 50rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  margin: 1rem 0 1rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  font-size: 1.7rem;
  padding: 2rem;
  background: none;
  color: white;
}

.contact .row form .btn {
  background-color: var(--primary);
  cursor: pointer;
  padding: 2rem 2rem;
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

/* footer section */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 2rem;
}

footer div {
  padding: 0.5rem;
}

footer .socials a {
  color: #eee;
  padding: 0 1rem;
}

footer .links a {
  color: #eee;
  padding: 0 1rem;
}

footer .created a {
  color: #010101;
}

/* Modal Box  Item Detail */
.modal1,
.modal2,
.modal3 {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.8);
  overflow: auto;
  display: none;
  animation: modalAnimation 0.5s;
}

@keyframes modalAnimation {
  from {
    top: -100px;
    opacity: 0;
    background-color: rgba(1, 1, 1, 0);
  }
  to {
    top: 0;
    opacity: 1;
    background-color: rgba(1, 1, 1, 0.7);
  }
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: auto;
  padding-top: 2rem;
  padding-left: 1rem;
  border: 1px solid #666;
  width: 90%;
  height: 23rem;
}

.modal-container .close-icons1,
.modal-container .close-icons2,
.modal-container .close-icons3 {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: black;
}

.modal-container .close-icons1:hover,
.modal-container .close-icons2:hover,
.modal-container .close-icons3:hover {
  color: red;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  width: 15rem;
  margin-right: 1rem;
}

.modal-content .product-content {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-content .product-content p {
  padding-bottom: 0.5rem;
}

.modal-content .product-content .rating {
  display: flex;
  margin-top: -5px;
}

.modal-content .product-content .rating .star {
  fill: #ffd700;
}

.modal-content .product-content .product-price {
  font-size: 1.3rem;
}
.modal-content .product-content .product-price span {
  font-size: 1rem;
  color: var(--primary);
  text-decoration: line-through;
}

.modal-content .product-content .cart-model {
  display: flex;
  color: white;
  background-color: var(--primary);
  width: 15rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  /* Hero Section */
  .hero .content {
    margin-top: -30rem;
  }

  /* Modal box */
  .modal .modal-container .modal-content img {
    width: 14rem;
    height: 19rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    right: -100%;
    top: 100%;
    height: 100vh;
    width: 30rem;
    background-color: white;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    position: absolute;
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    color: var(--bg);
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  /* Hero Section */
  .hero .content {
    margin-top: -35rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding-left: 0;
    padding-top: 1rem;
  }

  .about .row .content h3 {
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.5rem;
  }

  /* Contact Section */
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row form {
    margin-left: 0;
  }

  /* search form */
  .navbar .search-form {
    width: 90%;
    margin-left: 2rem;
  }

  /* produk section */
  .produk .row {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  /* modal box */
  .modal-content .product-content .star {
    width: 2rem;
  }
}
